$white: #fff;
$black: #000;
$blue: #00c;
$red: #c00;

$defaultFontFamily: 'Helvetica', 'Arial', sans-serif;
$defaultFontSize: 14px;
$defaultTextColor: $black;
$defaultLineHeight: 1.2;
$defaultBackgroundColor: $white;

$borderRadiusSmall: 3px;
