@use '../../styles/mixins' as *;
@use '../../styles/vars' as *;

.field {
  &.disabled {
    opacity: 0.5;
  }

  .label {
    font-weight: bold;
    margin-bottom: 2px;
    display: block;
  }

  .input {
    min-height: 150px;
    width: 100%;
    max-width: none;
    resize: vertical;

    &:focus {
      border-color: $blue;
    }

    &.invalid {
      border-color: $red;
    }
  }

  .error {
    margin-top: 2px;
    color: $red;
  }
}
